body{
    text-align: center;
    /* color: red; */
}

h1{
    font-size: 50px;
    color: #454545;
    font-weight: 200;
}

h3{
    font-size: 100px;
    font-weight: 200;
    color: #666;
}

h4{
    font-size: 30px;
    font-style: italic;
}

button {
    background-color: #4CAF50; /* Green */
    /* border: none; */
    border-color: white;
    border-radius: 5px;
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    background-color: grey;
    color: white;
}

button:active{
    background-color: white;
    color: grey;
    
    /* border: solid; */
    /* border-radius: 5px; */
    /* border-color: grey; */
}